{% extends "base.html" %}

{% block title %} Профиль пользователя {% endblock %}

{% block content %}
<html lang="ru"> 
  <head>  
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Профайл пользователя <!--Лев Толстой--></title>
  </head>
  <body>
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя <!--Лев Толстой--> </h1>
        <h3>Всего постов: <!-- --> </h3>   
        <article>
          <ul>
            <li>
              Автор: <!--Лев Толстой-->
              <a href="<!-- -->">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: <!-- 31 июля 1854 --> 
            </li>
          </ul>
          <p>
          <!-- Толстовская ерунда --> 
          </p>
          <a href="<!-- -->">подробная информация </a>
        </article>       
        <a href="<!-- -->">все записи группы</a>        
        <hr>
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
  </body>
</html>
{% block content %}
